
/*todo el texto del remitente: incluye alineacion, color, tipo de lera y tamaño*/
.remitente{
    text-align: right;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}
/*todo el texto del destinatario: incluye grosor del texto y color*/
.destinatario{color: blue;
font-weight: 900;}

/*incluye decoración añadida al texto con h1 y h2 diferentes*/
h1 {text-decoration: overline;}
h2 {text-decoration: underline;}

/*incluye espacios en el texto*/
.a{word-spacing: 30px;}

/*seleciona varios ID=wrap para meterlos dentro de un cuadrado*/
#wrap {width: 1500px; 
    border: 1px solid #000000;
    word-wrap: break-word;}

/*formato vertical del texto*/
#vertical {writing-mode: vertical-lr;}